@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900&display=swap');

//Cross browser CSS3 mixins

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin transition($property, $duration, $easing: linear) {
	transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}

@mixin gradient($color1, $color2) {
	background-color: $color1;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2});
	background-image: -moz-linear-gradient(center top, $color1, $color2);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
}

$color-purple : #965BFE;
$color-blue : #6EC0FF;
$color-grey : #979797;
$color-background : #444444;

body {
    max-width: 400px;
    margin:  0 auto;
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
    background-color: $color-background;
}

// LOGIN PAGE
div#login-container {
    animation: showLogin 1s ease-in-out;

    height: 100vh;
    color: white;
    background-color: $color-purple;
    background: linear-gradient(to bottom, $color-purple, $color-blue);
    text-align: center;

    padding: 2em;

    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;

    div.login-text {
        align-self: flex-end;

        h1 {
            font-size: 35px;
            font-weight: 700;
            margin-bottom: -5px;
        }

        p {
            font-size: 20px;
            font-weight: 400;
        }
    }

    div.login-input {
        position: relative;
        
        input {
            width: 100%;
            font-size: 20px;
            text-align: center;
            height: 60px;
            border: 1px solid transparent;
            border-radius: 15px;
            box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.24);
            background-color: $color-background;
            color: white;

            outline: none;

            animation: slideIn 1s;
        }

        button {
            margin-top: 1em;
            display: block;
            margin-left: auto;
            margin-right: 1em;
            background: none;
            border: none;
            font-weight: 700;
            color: white;
            font-size: 20px;
        }

    }
    
    p {
        align-self: flex-end;
        margin-bottom: 2em;
        
        a, a:visited, a:link {
            color: white;
            text-decoration: none;
        }
    }
}

// SHOE PAGE
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3em;

    h1 {
        text-transform: capitalize;
        color: $color-purple;
        animation: slideIn 1s;

        small {
            color: white;
            font-weight: 400;
        }
    }

    div.header-right {
        button {
            padding: 0.5em;
            background: none;
            border: 1px solid $color-grey;
            border-radius: 5px;
            color: $color-grey;

            &:hover {
                color: $color-blue;
                transition: all 200ms;
            }
        }
    }
}

// FAVORITES

div#root {
    padding: 1em;
    animation: showLogin 1s;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}

div#favorites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    animation: slideIn 1s;

    

    div.favorite-item {
        background: url("../img/af1.png");
        height: 150px;
        background-position: center;
        background-size: cover;
        padding: 0.25em 0.5em;
        position: relative;
        border-radius: 10px;
        animation: showLogin 1s;
        p {

        }

        button {
            border: 1px solid transparent;
            padding: 0.25em 0.5em;
            background-color: white;
            border-radius: 50px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            font-weight: 700;
            position: absolute;
            bottom: 0.25em;
            left: 0.5em;
        }
    }
}

// FILTERS
div#search-filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    height: 85px;
    margin-bottom: 2em;

    h2 {
        grid-column: 1/3;
        color: $color-grey;
    }
    
    div#filters {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid $color-grey;
        padding: 1em 0.25em;
        border-radius: 5px;
        color: $color-grey;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
        background-color: $color-background;

        div.input {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

    }

    div#search-field {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.25em;

        div.search-top {
            input {
                width: 100%;
                height: 100%;
                border: 1px solid $color-grey;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
                background-color: $color-background;
                border-radius: 5px;
                padding-left: 1em;
            }
        }

        div.search-bottom {
            button {
                width: 100%;
                height: 100%;
                border: 1px solid $color-purple;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
                background-color: $color-background;
                border-radius: 5px;
                font-size: 25px;
                font-weight: 700;
                text-transform: uppercase;
                color: $color-purple;
            }
        }
    }
}

// SHOES
div#shoes {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;

    h2 {
        color: $color-grey;
    }

    div.shoe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: $color-grey;

        div.shoe-left {
            position: relative;

            img {
                width: 100%;
                border: 1px solid transparent;
                border-radius: 10px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
            }

            button {
                position: absolute;
                left: 0.5em;
                top: 0.5em;
                color: red;
                border: 1px solid transparent;
                padding: 0.25em 0.5em;
                background-color: white;
                border-radius: 50px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                font-weight: 700;
            }
        }

        div.shoe-right {
            justify-self: center;
            display: grid;
            grid-template-columns: 1fr;

            div.shoe-right-text {
                h3 {
                    margin-bottom: -5px;
                }
            }

            button {
                width: 60%;
                min-width: 100px;
                height: 35px;
                justify-self: center;
                background-color: $color-purple;
                color: white;
                border: 1px solid transparent;
                font-size: 18px;
                text-align: center;
                border-radius: 5px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);

                &:hover {
                    background-color: $color-blue;
                    transition: all 200ms;
                }
            }

        }

    }
}

// CART
div#cart {
    display: none;
    position: fixed;
    z-index: 1;
    top: 1em;
    left: 2.5%;
    width: 95%;
    background-color: $color-background;
    grid-template-columns: 1fr;
    padding: 1em;
    padding-bottom: 0.25em;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);

    p#cart-total {
        border: 1px solid $color-grey;
        border-radius: 5px;
        padding: 1em;
        font-size: 1.6em;
        text-align: center;
        background-color: $color-background;
        color: $color-purple;
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.25);
        margin-bottom: 1em;
    }

    div.cart-item {
        display: grid;
        grid-template-columns: 4fr 1fr;
        margin-bottom: 0.5em;

        div.cart-item-text {
            display: grid;
            grid-template-columns: 4fr 1fr;

            p {
                color: $color-grey;
            }

            p:nth-of-type(2) {
                color: $color-blue;
            }
        }

        button {
            background-color: $color-purple;
            color: white;
            border: 1px solid transparent;
            border-radius: 5px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
            padding: 0 1em;
        }
    }

    button#closeCartBtn {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 2em;
        border: 1px solid transparent;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
        background-color: $color-background;
        color: white;
        padding: 0.25em 0;

        &:hover {
            background-color: $color-purple;
            transition: all 200ms;
        }
    }

}

// ADMIN
div#admin-ui {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    animation: slideDown 1s;

    div.admin-top {
        display: grid;
        grid-template-columns: 5fr 1fr;
        
        h1 {
            animation: slideIn 1s;
            span {
                color: $color-purple;
            }
        }

        button {
            padding: 0.5em;
            background: none;
            border: 1px solid $color-grey;
            border-radius: 5px;
            color: $color-grey;

            &:hover {
                color: $color-blue;
                transition: all 200ms;
            }
        }
    }

    div#addShoes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em;
        margin-top: 1em;

        input {
            width: 100%;
            height: 100%;
            border: 1px solid $color-grey;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
            background-color: $color-background;
            border-radius: 5px;
            padding-left: 1em;
            font-size: 1.2em;
            padding: 0.25em 1em;
        }

        button {
            grid-column: 1/3;
            width: 100%;
            height: 100%;
            border: 1px solid $color-purple;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
            background-color: $color-background;
            border-radius: 5px;
            font-size: 25px;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-purple;
            padding: 1em;

            &:hover {
                background-color: $color-purple;
                color: white;
                transition: all 200ms;
            }
            
        }
    }

    div#admin-users {
        display : grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.25em;
        margin: 2em 0;

        h2 {
            color: $color-grey;
            grid-column: 1/4;

            i {
                color: $color-purple;
            }
        }

        p {
            text-transform: capitalize;
            border: 1px solid $color-blue;
            padding: 0.25em 1em;
            color: white;
            border-radius: 5px;
            text-align: center;
        }
    }

    div#admin-shoes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.25em;

        h2 {
            color: $color-grey;
            grid-column: 1/3;

            i {
                color: $color-purple;
            }
        }

        p {
            text-transform: capitalize;
            border: 1px solid $color-purple;
            padding: 0.25em 1em;
            color: white;
            border-radius: 5px;
            text-align: center;
            animation: showLogin 1s;
        }
    }
}

hr {
    border: 2px solid $color-grey;
    background-color: white;
    box-shadow : 0 3px 6px rgba(0, 0, 0, 0.15);
    border-radius : 3px;
    opacity: 0.2;
}

footer {
    padding: 2em 0;
    p {
        text-align: center;
        
        a, a:visited, a:link {
            color: $color-grey;
            text-decoration: none;
            
        }
    }
}



// KEYFRAMES
@keyframes showLogin {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-50%);
    }

    70% {
        transform: translateX(+3%);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-50%);
    }

    70% {
        transform: translateY(+10%);
    }
}