@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  max-width: 400px;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  background-color: #444444;
}

div#login-container {
  -webkit-animation: showLogin 1s ease-in-out;
          animation: showLogin 1s ease-in-out;
  height: 100vh;
  color: white;
  background-color: #965BFE;
  background: -webkit-gradient(linear, left top, left bottom, from(#965BFE), to(#6EC0FF));
  background: linear-gradient(to bottom, #965BFE, #6EC0FF);
  text-align: center;
  padding: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#login-container div.login-text {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

div#login-container div.login-text h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: -5px;
}

div#login-container div.login-text p {
  font-size: 20px;
  font-weight: 400;
}

div#login-container div.login-input {
  position: relative;
}

div#login-container div.login-input input {
  width: 100%;
  font-size: 20px;
  text-align: center;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 15px;
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.24);
          box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.24);
  background-color: #444444;
  color: white;
  outline: none;
  -webkit-animation: slideIn 1s;
          animation: slideIn 1s;
}

div#login-container div.login-input button {
  margin-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: 1em;
  background: none;
  border: none;
  font-weight: 700;
  color: white;
  font-size: 20px;
}

div#login-container p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 2em;
}

div#login-container p a, div#login-container p a:visited, div#login-container p a:link {
  color: white;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
}

header h1 {
  text-transform: capitalize;
  color: #965BFE;
  -webkit-animation: slideIn 1s;
          animation: slideIn 1s;
}

header h1 small {
  color: white;
  font-weight: 400;
}

header div.header-right button {
  padding: 0.5em;
  background: none;
  border: 1px solid #979797;
  border-radius: 5px;
  color: #979797;
}

header div.header-right button:hover {
  color: #6EC0FF;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

div#root {
  padding: 1em;
  -webkit-animation: showLogin 1s;
          animation: showLogin 1s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2em;
}

@media screen and (min-width: 401px) {
  div#root {
    border: 1px solid grey;
    border-radius: 15px;
    margin: 1em;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  }
}

p#placeholder-fav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  color: white;
  font-size: 1.4em;
  padding: 2.2em;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  background-color: #444444;
  background: -webkit-gradient(linear, left top, right top, from(#6EC0FF), to(#965BFE));
  background: linear-gradient(to right, #6EC0FF, #965BFE);
  -webkit-animation: showLogin 1s;
          animation: showLogin 1s;
}

div#favorites {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  -webkit-animation: slideIn 1s;
          animation: slideIn 1s;
}

div#favorites div.favorite-item {
  background: url("../img/af1.png");
  height: 150px;
  background-position: center;
  background-size: cover;
  padding: 0.25em 0.5em;
  position: relative;
  border-radius: 10px;
  -webkit-animation: showLogin 1s;
          animation: showLogin 1s;
}

div#favorites div.favorite-item button {
  border: 1px solid transparent;
  padding: 0.25em 0.5em;
  background-color: white;
  border-radius: 50px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: 700;
  position: absolute;
  bottom: 0.25em;
  left: 0.5em;
}

div#search-filters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  height: 85px;
  margin-bottom: 2em;
}

div#search-filters h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  color: #979797;
}

div#search-filters div#filters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border: 1px solid transparent;
  padding: 1em 0.25em;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  background-color: #444444;
  background: -webkit-gradient(linear, left top, right top, from(#6EC0FF), to(#965BFE));
  background: linear-gradient(to right, #6EC0FF, #965BFE);
}

div#search-filters div#filters div.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#search-filters div#filters div.input input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: relative;
  font-weight: 700;
}

div#search-filters div#filters div.input input:checked {
  background-color: black;
}

div#search-filters div#search-field {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 0.25em;
}

div#search-filters div#search-field div.search-top input {
  width: 100%;
  height: 100%;
  border: 1px solid #979797;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  background-color: #444444;
  border-radius: 5px;
  padding-left: 1em;
}

div#search-filters div#search-field div.search-bottom button {
  width: 100%;
  height: 100%;
  border: 1px solid #965BFE;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  background-color: #444444;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #965BFE;
}

div#shoes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1em;
}

div#shoes h2 {
  color: #979797;
}

div#shoes div.shoe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  color: #979797;
}

div#shoes div.shoe div.shoe-left {
  position: relative;
}

div#shoes div.shoe div.shoe-left img {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
}

div#shoes div.shoe div.shoe-left button {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  color: red;
  border: 1px solid transparent;
  padding: 0.25em 0.5em;
  background-color: white;
  border-radius: 50px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: 700;
}

div#shoes div.shoe div.shoe-right {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

div#shoes div.shoe div.shoe-right div.shoe-right-text {
  width: 100%;
}

div#shoes div.shoe div.shoe-right div.shoe-right-text h3 {
  margin-bottom: -5px;
}

div#shoes div.shoe div.shoe-right button {
  width: 60%;
  min-width: 100px;
  height: 35px;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #444444;
  background: -webkit-gradient(linear, left top, right top, from(#6EC0FF), to(#965BFE));
  background: linear-gradient(to right, #6EC0FF, #965BFE);
  color: white;
  border: 1px solid transparent;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
}

div#shoes div.shoe div.shoe-right button:hover {
  background-color: #6EC0FF;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

div#cart {
  display: none;
  position: fixed;
  z-index: 1;
  top: 1em;
  left: 2.5%;
  width: 95%;
  background-color: #979797;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 1em;
  padding-bottom: 0.25em;
  border: 1px solid transparent;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
}

div#cart p#cart-total {
  border: 1px solid #979797;
  border-radius: 5px;
  padding: 1em;
  font-size: 1.6em;
  text-align: center;
  background-color: #444444;
  color: white;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 1em;
}

div#cart div.cart-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  margin-bottom: 0.5em;
}

div#cart div.cart-item div.cart-item-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
}

div#cart div.cart-item div.cart-item-text p {
  color: white;
}

div#cart div.cart-item div.cart-item-text p:nth-of-type(2) {
  color: #6EC0FF;
}

div#cart div.cart-item button {
  background-color: #965BFE;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  padding: 0 1em;
}

div#cart button#closeCartBtn {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 2em;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  background-color: #444444;
  color: white;
  padding: 0.25em 0;
}

div#cart button#closeCartBtn:hover {
  background-color: #6EC0FF;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

div#admin-ui {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 1em;
  -webkit-animation: slideDown 1s;
          animation: slideDown 1s;
  grid-gap: 2em;
}

div#admin-ui div.admin-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
}

div#admin-ui div.admin-top h1 {
  -webkit-animation: slideIn 1s;
          animation: slideIn 1s;
}

div#admin-ui div.admin-top h1 span {
  color: #965BFE;
}

div#admin-ui div.admin-top button {
  padding: 0.5em;
  background: none;
  border: 1px solid #979797;
  border-radius: 5px;
  color: #979797;
}

div#admin-ui div.admin-top button:hover {
  color: #6EC0FF;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

div#admin-ui div#addShoes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  margin-top: 1em;
  height: 100%;
}

div#admin-ui div#addShoes h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  color: #979797;
}

div#admin-ui div#addShoes h2 i {
  color: #965BFE;
}

div#admin-ui div#addShoes input {
  width: 100%;
  height: 100%;
  border: 1px solid #979797;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  background-color: #444444;
  border-radius: 5px;
  padding-left: 1em;
  font-size: 1.2em;
  padding: 0.25em 1em;
}

div#admin-ui div#addShoes button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
  height: 100%;
  border: 1px solid #965BFE;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  background-color: #444444;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #965BFE;
  padding: 1em;
}

div#admin-ui div#addShoes button:hover {
  background-color: #965BFE;
  color: white;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

div#admin-ui div#admin-users {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.25em;
  margin: 2em 0;
}

div#admin-ui div#admin-users h2 {
  color: #979797;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

div#admin-ui div#admin-users h2 i {
  color: #965BFE;
}

div#admin-ui div#admin-users p {
  text-transform: capitalize;
  border: 1px solid #6EC0FF;
  padding: 0.25em 1em;
  color: white;
  border-radius: 5px;
  text-align: center;
}

div#admin-ui div#admin-shoes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0.25em;
}

div#admin-ui div#admin-shoes h2 {
  color: #979797;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

div#admin-ui div#admin-shoes h2 i {
  color: #965BFE;
}

div#admin-ui div#admin-shoes p {
  text-transform: capitalize;
  border: 1px solid #965BFE;
  padding: 0.25em 1em;
  color: white;
  border-radius: 5px;
  text-align: center;
  -webkit-animation: showLogin 1s;
          animation: showLogin 1s;
}

hr {
  border: 2px solid #979797;
  background-color: #979797;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  opacity: 0.2;
}

footer {
  padding: 2em 0;
}

footer p {
  text-align: center;
}

footer p a, footer p a:visited, footer p a:link {
  color: #979797;
  text-decoration: none;
}

@-webkit-keyframes showLogin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showLogin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  70% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  70% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  70% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  70% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}
/*# sourceMappingURL=main.css.map */