@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900");
body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  background-color: whitesmoke;
}

main.container {
  margin: 1em 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.container div.search-container {
  font-size: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
}

main.container div.search-container label {
  width: 160px;
  margin: 0 auto;
  border-radius: 10px;
  background: #CEE3FF;
  padding: 0.25em 0.5em;
  z-index: 1;
}

main.container div.search-container label span {
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #006FFF;
  display: block;
  margin-bottom: -15px;
}

main.container div.search-container div.search-input {
  background-color: #006FFF;
  padding: 0.75em;
  padding-top: 1.75em;
  margin-top: -25px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.container div.search-container div.search-input input {
  height: 30px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #CEE3FF;
}

main.container div.search-container div.search-input #searchButton {
  border: none;
  background: none;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
  margin-left: 7px;
}

main.container div.found-container #userId {
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.25em;
  background-color: #CEE3FF;
  color: #006FFF;
  text-align: center;
  max-width: 100%;
  font-size: 25px;
}

main.container div.found-container #userImg {
  width: 100%;
}

main.container div.found-container h2 {
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.25em;
  font-size: 25px;
  text-align: center;
  color: #006FFF;
  background-color: #CEE3FF;
  margin-bottom: -25px;
}

main.container div.found-container #repos {
  list-style: none;
  text-align: center;
  background-color: #91c1ff;
  padding: 0;
  font-size: 22px;
}

main.container div.found-container #repos a:link, main.container div.found-container #repos a:visited, main.container div.found-container #repos a {
  color: black;
  text-decoration: none;
}

main.container div.found-container #repos .list-item:nth-of-type(2n) {
  background-color: #CEE3FF;
}

main.container h3 {
  background-color: darkgrey;
  padding: 0.5em;
  border-radius: 10px;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=styles.css.map */