@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(243, 243, 243);
}

header {
    h1 {
        background-color: #eee;
        padding: 1em;
        text-align: center;
    }
}

footer {
    p {
        padding: 1em;
        background-color: #eee;
        text-align: center;

        span {
            color: black;
        }

        a, a:link, a:visited {
            color: black;
        }
    }
}

div#posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;

    div.post {

        span.symbol {
            color: grey;
        }

        h4 {
            background-color: #eee;
            padding: 1em 2em;
            text-transform: lowercase;
        }

        div.post-image {
            position: relative;

            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }

            .heart {
                font-size : 10em;
                opacity: 0;
                position: absolute;
                z-index: -1;
                top: 35px;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                animation: hideHeart 2s ease-out;
            }
        }

        div.post-body {
            position: relative;
            background-color: #eee;
            padding: 2em;

            small {
                position: absolute;
                top: 5px;
            }
        }
    }
}

@keyframes hideHeart {
    from {
        opacity: 1;
        z-index: 1;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}