@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: .9em;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
    
    header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;

    .logo {
        width: 100px;
    }

    i {
        margin-top: 50%;
    }

    a:link,:visited {
        text-decoration: none;
        color: inherit;
    }

    }

    section {
        margin-bottom: 10em;
        .main-design {
            width: 49.9%;
            margin: 3em;
            margin-bottom: 7em;
        }

        h1 {

            span {
                color: #6B48FF;
            }
        }

        p {
            font-size: 1.1em;
        }
    }

    main {
        position: relative;
        height: 600px;
        margin-top: -5em;
        border: 1px solid #AEAEAE;
        border-radius: 25px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.7);
        background-color: white; 
    }

    footer {
        margin-top: 2em;
        font-weight: 700;
        color: white;

        span {
            color: #00FF66;
        }
    }
}

.purple-container {
    background: linear-gradient(#6B48FF, #362480);
    box-shadow: 0px -2px 0px black;
}

