@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: .9em;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
    
    header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;

    }

    section {
        margin-bottom: 10em;
        .main-design {
            width: 49.9%;
            margin: 3em;
            margin-bottom: 7em;
        }

        h1 {

            span {
                color: #6B48FF;
            }
        }

        p {
            font-size: 1.1em;
        }
    }

    .swiper-slide {
        position: relative;
        height: 600px;
        margin-top: -5em;
        border: 1px solid #AEAEAE;
        border-radius: 25px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.7);
        background-color: white;
        display: grid;
        grid-template-rows: 1fr 60px;
        margin-right: 5px;

        .row1 {
            padding: 2em;
            line-height: 1.7em;
            justify-self: center;
            align-self: center;
            font-size: 1.15em;

        }
        
        .row2 {
            background-color: #E6E6E6;
            border-top: 1px solid #AEAEAE;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 5fr 1fr;
            justify-items: center;
            align-items: center;

            p {
                font-weight: 700;
                font-size: 1em;
            }
            
        }
    }

    footer {
        margin-top: 3em;
        font-weight: 700;
        color: white;

        span {
            color: #00FF66;
        }
    }
}

.purple-container {
    background: linear-gradient(#6B48FF, #362480);
    box-shadow: 0px -2px 0px black;
}

