@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p, blockquote {
  font-size: .9em;
}

.container {
  text-align: center;
  padding: .8em 1.2em;
}

.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3em;
}

.container section {
  margin-bottom: 10em;
}

.container section .main-design {
  width: 49.9%;
  margin: 3em;
  margin-bottom: 7em;
}

.container section h1 span {
  color: #6B48FF;
}

.container section p {
  font-size: 1.1em;
}

.container .card {
  position: relative;
  height: 600px;
  margin-top: -5em;
  border: 1px solid #AEAEAE;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 60px;
      grid-template-rows: 1fr 60px;
  margin-right: 4px;
}

.container .card .row1 {
  padding: 2em;
  line-height: 1.7em;
  font-size: 1.15em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 1.5em;
  overflow-y: hidden;
}

.container .card .row1 .project-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 40px;
      grid-template-rows: 1fr 40px;
  border-radius: 15px;
  font-size: 0.9em;
}

.container .card .row1 .project-item .project-top {
  border: 1px solid #aeaeae;
  background-color: #E8E8E8;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.container .card .row1 .project-item .project-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 2em;
  background-color: #9B9B9B;
  border: 1px solid #707070;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container .card .row1 .project-item .project-bottom a:link, .container .card .row1 .project-item .project-bottom :visited {
  color: #00FF66;
  text-decoration: none;
}

.container .card .row2 {
  background-color: #E6E6E6;
  border-top: 1px solid #AEAEAE;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .card .row2 p {
  font-weight: 700;
  font-size: 1em;
}

.container footer {
  margin-top: 3em;
  font-weight: 700;
  color: white;
}

.container footer span {
  color: #00FF66;
}

.purple-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#6B48FF), to(#362480));
  background: linear-gradient(#6B48FF, #362480);
  -webkit-box-shadow: 0px -2px 0px black;
          box-shadow: 0px -2px 0px black;
}

@media screen and (max-width: 1024px) {
  body, html {
    overflow: auto !important;
    max-height: 100% !important;
  }
  .mobile-hidden {
    display: none;
  }
}

@media (min-width: 1025px) {
  .normal-hidden {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */