* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  background-color: #eee;
}

header h1 {
  margin-bottom: 0.5em;
}

header nav.navbar ul.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

header nav.navbar ul.list li.list-item a {
  text-decoration: none;
  padding: 0.25em 1em;
  color: black;
  border: 1px solid black;
  margin: 0 1em;
  border-radius: 5px;
}

header nav.navbar ul.list li.list-item a:hover {
  color: white;
  background-color: black;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

main section {
  padding: 1em;
}

main section#hero {
  height: 500px;
  background: -webkit-gradient(linear, left top, right top, from(#c8c8c9), to(#e9dede));
  background: linear-gradient(to right, #c8c8c9, #e9dede);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main section#hero h2 {
  text-align: center;
}

main section#hero button {
  padding: 1em;
  font-size: 1.6em;
  background-color: white;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

main section#home {
  background-color: #eee;
  border-radius: 15px;
  margin: 1em;
  margin-top: -25px;
}

main section#menu {
  display: -ms-grid;
  display: grid;
  grid-gap: 3em 1em;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  main section#menu {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  main section#menu {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

main section#menu div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

main section#menu div.card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main section#menu div.card div.card-desc {
  border: 1px solid #eee;
  padding: 0.75em;
}

main section#menu div.card div.card-desc button {
  display: block;
  margin-left: auto;
  padding: 0.25em 0.75em;
  font-size: 1.05em;
  margin-top: 1em;
  border: none;
  border-radius: 5px;
}

main section#menu div.card div.card-desc button:hover {
  background-color: #333;
  color: white;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

main section#menu div.card div.card-desc small {
  position: absolute;
  top: 5px;
  right: 5px;
  font-style: italic;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.25em 0.5em;
}

main section#menu div.card div.card-comments {
  background-color: #eee;
  padding: 1em;
  border: 1px solid grey;
  display: none;
}

main section#menu div.card div.card-comments ul {
  list-style-type: none;
  margin-top: 1em;
}

main section#menu div.card div.card-comments ul li {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 0.5em;
  padding-bottom: 0.25em;
}

main section#menu div.card div.card-comments ul li small {
  display: block;
  text-align: right;
  color: grey;
  font-style: italic;
}

main section#menu div.card div.card-open-comments {
  background-color: #333;
  color: white;
  padding: 0.25em 1em;
  text-align: center;
}

main section#cart {
  display: none;
  position: absolute;
  height: 250px;
  width: 100%;
  top: 16.5%;
  right: 0;
  background-color: #eee;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
}

main section#cart p {
  margin-top: 1em;
  text-align: right;
}

main section#cart button#closeCartBtn {
  margin: 1em auto;
  width: 50%;
  border: 1px solid black;
  padding: 0.25em 0.75em;
  border-radius: 5px;
  border: none;
}

main section#cart button#closeCartBtn:hover {
  background-color: black;
  color: white;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

main section#cart div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#cart div p {
  margin: 0;
  text-align: unset;
}

main section#cart div button {
  padding: 0.25em 0.75em;
  color: red;
  border: 1px solid black;
  border-radius: 5px;
  border: none;
}

footer {
  text-align: center;
  padding: 1em;
}

footer a, footer a:link, footer a:visited {
  color: darkgrey;
}
/*# sourceMappingURL=main.css.map */